# OpenAI API Configuration
# Copy this file to .env and add your actual API key

VITE_OPENAI_API_KEY=your_api_key_here
VITE_BASE_URL=https://v98store.com/v1
VITE_OPENAI_MODEL=gpt-5-nano-2025-08-07
VITE_WEATHERAPI_API_KEY=your-weatherapi-api-key
VITE_TAVILY_API_KEY=your-tavily-api-key
VITE_RUNWARE_API_KEY=your-runware-api-key